$font-normal: 'Helvetica Neue', Helvetica, sans-serif;
$font-medium: 'HelveticaNeue-Medium', Helvetica, sans-serif;
$font-condensed: 'HelveticaNeue-CondensedBold', Helvetica, sans-serif;

$letter-spacing: 0.01em;
$line-height: 28px;
